* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    padding: 0;
    background-color: #222;
}

.ubuntu-regular {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-bold {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.webcam-preview {
    background-color: #000;
    width: 676px;
    height: 900px;
    margin: 0 auto 0 auto;
    border-radius: 8px;
}

.webcam-shutter {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.shutter-buttons {
    margin-top: 2vh;
    display: flex;
}

.shutter-button {
    width: 128px;
    height: 128px;
    background-color: rgb(26, 175, 168);
    border-radius: 50%;
    border: none;
    margin: 0 auto 0 auto;
    display: block;
    font-size: 32px;
    color: #fff;
}

.shutter-button:active {
    transform: scale(0.8);
}

.shutter-button:disabled {
    background-color: #aaa;
    pointer-events: none;
}
